@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif !important;
}

input {
  transition: all 0.2s ease-in-out;
}

body * {
  max-width: 100vw ;
}